<% provide(:title, 'Submit an idea') %>

<div class="page-header">
  <h2>Submit an idea</h2>
</div>

<div class="container">
  <div class="row submit-idea">
    <div class="col-md-8">
      <%= form_for(@idea) do |f| %>

          <h3>Wouldn't it be cool if ...</h3>
          <%= f.text_field :title, class: 'form-control',
                           placeholder: 'There was a website about ideas for making loads of cash' %>

          Description
          <%= f.text_area :content, class: 'form-control', placeholder: 'Add some detail..' %>

          <div class="col-md-2 submit-button">
            <%= f.submit "Submit", class: "btn btn-primary" %>
          </div>
      <% end %>
    </div>
  </div>

  <div class="inspiration">
      <div class="row">
        <h3>Need some inspiration?</h3>
        <span class="links">
            <%= link_to 'Regenerate', '#', class: "btn btn-sm btn-warning" %> or
            <%= link_to 'Fork an existing idea', ideas_path %>
        </span>
      </div>

        <div class="row examples">
            <div class="col-md-3 center">
                <p class="lead">You should build</p>
                <div class="alert alert-info">
                  <h2>a website</h2>
                </div>
            </div>
            <div class="col-md-3 center">
              <p class="lead">about</p>
              <div class="alert alert-info">
                <h2>ideas</h2>
              </div>
            </div>
            <div class="col-md-3 center">
              <p class="lead">for making</p>
              <div class="alert alert-info">
                <h2>loads of cash</h2>
              </div>
            </div>
        </div>
  </div>
</div>

